dist/about.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#5bbad5">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Main</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/css/lightgallery.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500&amp;display=swap&amp;subset=cyrillic">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body><noscript>JavaScript is disabled</noscript>
  <div class="s-page__inner">
    <div class="s-page__content">
      <header class="s-page-header" role="banner">
        <div class="s-page-header__top">
          <div class="s-page-header__top-inner">
            <ul class="s-page-header__contact-list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
            </ul>
            <div class="s-page-header__menu">
              <form class="s-search-form" method="post"><input class="s-search-form__input" type="search" placeholder="Поиск" /></form>
              <div class="s-page-header__languages">
                <div class="s-page-header__language-toggler">Ru</div>
                <div class="s-page-header__language">
                  <ul class="s-page-header__language-list">
                    <li><a href="/">Русский</a></li>
                    <li><a href="/">English</a></li>
                    <li><a href="/">Українська</a></li>
                    <li><a href="/">Eλληνικά</a></li>
                    <li><a href="/">Srpski</a></li>
                    <li><a href="/">Svenska</a></li>
                  </ul>
                </div>
              </div><a class="s-login" href="/">Войти</a>
            </div>
          </div>
        </div>
        <div class="s-page-header__bottom">
          <div class="s-page-header__bottom-inner"><a class="s-logo" href="/index.html"><img src="img/logo.svg" alt="НТС лого" width="113" height="57" /></a>
            <nav class="s-main-nav" id="s-main-nav">
              <ul class="s-main-nav__list">
                <li><a href="/about.html">О компании</a></li>
                <li><a href="/menu.html">Меню</a></li>
                <li><a href="/shop.html">Магазин</a></li>
                <li><a href="/">Заказ стола</a></li>
                <li><a href="/">Услуги</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
            </nav><a class="s-page-header__basket" href="basket.html">Корзина</a>
            <div class="s-page-header__burger"><button class="s-hamburger" aria-label="Show main navigation" data-target-id="s-main-nav" data-target-class-toggle="s-main-nav--is-shown"><span></span></button></div>
          </div>
        </div>
      </header>
      <div class="s-breadcrumb">
        <div class="container">
          <ul class="s-breadcrumb__list" aria-label="Breadcrumb" role="navigation">
            <li class="s-breadcrumb__item"><a href="/index.html">Главная</a></li>
            <li class="s-breadcrumb__item"><span>О компании</span></li>
          </ul>
        </div>
      </div>
      <div class="s-section s-section--first">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="s-side-nav">
                <div class="s-side-nav__title">О компании</div><button class="s-side-nav__toggle">Подразделы</button>
                <ul class="s-side-nav__list">
                  <li><a href="/">Сотрудники</a></li>
                  <li><a href="/">Вакансии</a></li>
                  <li><a href="/">Тендеры</a></li>
                  <li><a href="/">Предложения</a></li>
                  <li><a href="/">Вопрос-Ответ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="s-about">
                <div class="s-about__cover"><img src="img/trans-service-drinks-cover.jpg" alt="/"></div>
                <div class="s-about__text">
                  <p>Наша компания осуществляет деятельность по обеспечению поездов дальнего следования и скоростного сообщения напитками, продовольственными и непродовольственными товарами для их реализации пассажирам поездов. ООО «Напитки ТрансСервис» - дочернее Общество АО «Федеральная пассажирская компания» было создано в 2011 году с целью построения новой системы обеспечения пассажиров продукцией гарантированного качества и безопасности, построенной на основе сетевых технологий по принципам категорийного менеджмента.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-section">
        <div class="container">
          <h2 class="s-section-title"><span class="s-section-title__text">Лицензии и сертификаты</span></h2>
          <div class="swiper-container s-slider s-slider--nav s-slider--certificates">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><a class="s-certificate" href="img/certificate-1.jpg">
                  <div class="s-certificate__thumb"><img src="img/certificate-1.jpg" /></div>
                </a></div>
              <div class="swiper-slide"><a class="s-certificate" href="img/certificate-2.jpg">
                  <div class="s-certificate__thumb"><img src="img/certificate-2.jpg" /></div>
                </a></div>
              <div class="swiper-slide"><a class="s-certificate" href="img/certificate-3.jpg">
                  <div class="s-certificate__thumb"><img src="img/certificate-3.jpg" /></div>
                </a></div>
              <div class="swiper-slide"><a class="s-certificate" href="img/certificate-4.jpg">
                  <div class="s-certificate__thumb"><img src="img/certificate-4.jpg" /></div>
                </a></div>
              <div class="swiper-slide"><a class="s-certificate" href="img/certificate-1.jpg">
                  <div class="s-certificate__thumb"><img src="img/certificate-1.jpg" /></div>
                </a></div>
              <div class="swiper-slide"><a class="s-certificate" href="img/certificate-2.jpg">
                  <div class="s-certificate__thumb"><img src="img/certificate-2.jpg" /></div>
                </a></div>
            </div>
            <div class="s-slider__nav">
              <div class="s-slider__button s-slider__button--prev"></div>
              <div class="s-slider__button s-slider__button--next"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="s-page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="s-page-footer__inner">
          <section class="s-page-footer__block s-page-footer__block--contacts">
            <h3 class="s-page-footer__block-title">Контакты</h3>
            <ul class="s-page-footer__list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
              <li><address>107140, Москва, улица Площадь Комсомольская, дом 4а, сооружение 1</address>
              </li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Услуги</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Питание организованных групп</a></li>
              <li><a href="/">Питание в поездах</a></li>
              <li><a href="/">Питание в вагонах ресторанах</a></li>
              <li><a href="/">Напитки и закуски в поездах</a></li>
              <li><a href="/">Логичтика продовольственных товаров</a></li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Питание организованных групп</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Туристические группы</a></li>
              <li><a href="/">Детские группы</a></li>
              <li><a href="/">Иностранные группы</a></li>
              <li><a href="/">Бизнес и VIP питание</a></li>
              <li><a href="/">Индивидуальное питание</a></li>
            </ul>
          </section>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/js/lightgallery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-thumbnail.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-fullscreen.min.js"></script>
  <script src="js/script.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.s-slider--certificates').lightGallery({
        selector: '.s-certificate',
        mode: 'lg-fade',
        cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        thumbnail: true,
        animateThumb: false,
        showThumbByDefault: false
      });
    });
  </script>
</body>

</html>

src/about.pug
extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block prepend head
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/css/lightgallery.min.css')

block content

  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('О компании')

  .s-section.s-section--first
    .container
      .row
        .col-12.col-md-3
          +side-nav('О компании')
            +side-nav-item('Сотрудники')
            +side-nav-item('Вакансии')
            +side-nav-item('Тендеры')
            +side-nav-item('Предложения')
            +side-nav-item('Вопрос-Ответ')
        .col-12.col-md-9
          .s-about
            .s-about__cover
              img(src='img/trans-service-drinks-cover.jpg', alt='/')
            .s-about__text
              p Наша компания осуществляет деятельность по обеспечению поездов дальнего следования и скоростного сообщения напитками, продовольственными и непродовольственными товарами для их реализации пассажирам поездов. ООО «Напитки ТрансСервис» - дочернее Общество АО «Федеральная пассажирская компания» было создано в 2011 году с целью построения новой системы обеспечения пассажиров продукцией гарантированного качества и безопасности, построенной на основе сетевых технологий по принципам категорийного менеджмента.

  .s-section
    .container
      +section-title('Лицензии и сертификаты')
      .swiper-container.s-slider.s-slider--nav.s-slider--certificates
        .swiper-wrapper
          .swiper-slide
            +certificate('img/certificate-1.jpg')
          .swiper-slide
            +certificate('img/certificate-2.jpg')
          .swiper-slide
            +certificate('img/certificate-3.jpg')
          .swiper-slide
            +certificate('img/certificate-4.jpg')
          .swiper-slide
            +certificate('img/certificate-1.jpg')
          .swiper-slide
            +certificate('img/certificate-2.jpg')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

block page-bottom
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/js/lightgallery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-thumbnail.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-fullscreen.min.js')
  script(src='js/script.min.js')
  script.
    $(document).ready(function() {
      $('.s-slider--certificates').lightGallery({
        selector: '.s-certificate',
        mode: 'lg-fade',
        cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        thumbnail: true,
        animateThumb: false,
        showThumbByDefault: false
      });
    });
