dist/basket.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#5bbad5">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Main</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500&amp;display=swap&amp;subset=cyrillic">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body><noscript>JavaScript is disabled</noscript>
  <div class="s-page__inner">
    <div class="s-page__content">
      <header class="s-page-header" role="banner">
        <div class="s-page-header__top">
          <div class="s-page-header__top-inner">
            <ul class="s-page-header__contact-list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
            </ul>
            <div class="s-page-header__menu">
              <form class="s-search-form" method="post"><input class="s-search-form__input" type="search" placeholder="Поиск" /></form>
              <div class="s-page-header__languages">
                <div class="s-page-header__language-toggler">Ru</div>
                <div class="s-page-header__language">
                  <ul class="s-page-header__language-list">
                    <li><a href="/">Русский</a></li>
                    <li><a href="/">English</a></li>
                    <li><a href="/">Українська</a></li>
                    <li><a href="/">Eλληνικά</a></li>
                    <li><a href="/">Srpski</a></li>
                    <li><a href="/">Svenska</a></li>
                  </ul>
                </div>
              </div><a class="s-login" href="/">Войти</a>
            </div>
          </div>
        </div>
        <div class="s-page-header__bottom">
          <div class="s-page-header__bottom-inner"><a class="s-logo" href="/index.html"><img src="img/logo.svg" alt="НТС лого" width="113" height="57" /></a>
            <nav class="s-main-nav" id="s-main-nav">
              <ul class="s-main-nav__list">
                <li><a href="/about.html">О компании</a></li>
                <li><a href="/menu.html">Меню</a></li>
                <li><a href="/shop.html">Магазин</a></li>
                <li><a href="/">Заказ стола</a></li>
                <li><a href="/">Услуги</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
            </nav><a class="s-page-header__basket" href="basket.html">Корзина</a>
            <div class="s-page-header__burger"><button class="s-hamburger" aria-label="Show main navigation" data-target-id="s-main-nav" data-target-class-toggle="s-main-nav--is-shown"><span></span></button></div>
          </div>
        </div>
      </header>
      <div class="s-basket">
        <div class="container">
          <h1 class="s-basket__title">Корзина</h1>
          <div class="s-basket__total">
            <div class="s-basket__item">
              <div class="s-basket__item-part s-basket__item-part--vendor">0230050</div>
              <div class="s-basket__item-part s-basket__item-part--image"><img src="img/pepsi-light.jpg" alt="/"></div>
              <div class="s-basket__item-part s-basket__item-part--name">Pepsi Light 0,33</div>
              <div class="s-basket__item-part s-basket__item-part--price">50 ₽</div>
              <div class="s-basket__item-part s-basket__item-part--count">2</div>
              <div class="s-basket__item-part s-basket__item-part--amount">100 ₽</div>
            </div>
            <div class="s-basket__item">
              <div class="s-basket__item-part s-basket__item-part--vendor">0230050</div>
              <div class="s-basket__item-part s-basket__item-part--image"><img src="img/pepsi-light.jpg" alt="/"></div>
              <div class="s-basket__item-part s-basket__item-part--name">Pepsi Light 0,33</div>
              <div class="s-basket__item-part s-basket__item-part--price">50 ₽</div>
              <div class="s-basket__item-part s-basket__item-part--count">2</div>
              <div class="s-basket__item-part s-basket__item-part--amount">100 ₽</div>
            </div>
            <div class="s-basket__item">
              <div class="s-basket__item-part s-basket__item-part--vendor">0230050</div>
              <div class="s-basket__item-part s-basket__item-part--image"><img src="img/pepsi-light.jpg" alt="/"></div>
              <div class="s-basket__item-part s-basket__item-part--name">Pepsi Light 0,33</div>
              <div class="s-basket__item-part s-basket__item-part--price">50 ₽</div>
              <div class="s-basket__item-part s-basket__item-part--count">2</div>
              <div class="s-basket__item-part s-basket__item-part--amount">100 ₽</div>
            </div>
            <div class="s-basket__item">
              <div class="s-basket__item-part s-basket__item-part--vendor">0230050</div>
              <div class="s-basket__item-part s-basket__item-part--image"><img src="img/pepsi-light.jpg" alt="/"></div>
              <div class="s-basket__item-part s-basket__item-part--name">Pepsi Light 0,33</div>
              <div class="s-basket__item-part s-basket__item-part--price">50 ₽</div>
              <div class="s-basket__item-part s-basket__item-part--count">2</div>
              <div class="s-basket__item-part s-basket__item-part--amount">100 ₽</div>
            </div>
            <div class="s-basket__item">
              <div class="s-basket__item-part s-basket__item-part--vendor">0230050</div>
              <div class="s-basket__item-part s-basket__item-part--image"><img src="img/pepsi-light.jpg" alt="/"></div>
              <div class="s-basket__item-part s-basket__item-part--name">Pepsi Light 0,33</div>
              <div class="s-basket__item-part s-basket__item-part--price">50 ₽</div>
              <div class="s-basket__item-part s-basket__item-part--count">2</div>
              <div class="s-basket__item-part s-basket__item-part--amount">100 ₽</div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <form class="s-form">
                <div class="row">
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="ФИО" /></span></label></div>
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Организация" /></span></label></div>
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Телефон" /></span></label></div>
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="E-mail" /></span></label></div>
                  <div class="col-12"><label class="s-field-text"><span class="s-field-text__input-wrap"><textarea class="s-field-text__input" placeholder="Комментарий" name=""></textarea></span></label></div>
                  <div class="col-12">
                    <div class="s-field-actions"><button class="s-btn">Оформить заказ</button></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-12 col-md-6">
              <div class="s-basket__method">
                <div class="s-basket__method-title">Вариант доставки</div>
                <div class="s-field-radio">
                  <div class="s-field-radio__input-wrap"><label class="s-field-radio__name"><input class="s-field-radio__input" type="radio" name="radio-1" checked="checked" /><span class="s-field-radio__name-text">В поезд</span></label></div>
                  <div class="s-field-radio__input-wrap"><label class="s-field-radio__name"><input class="s-field-radio__input" type="radio" name="radio-1" /><span class="s-field-radio__name-text">Доставка курьером (+ 300 ₽)</span></label></div>
                </div>
              </div>
              <div class="s-basket__method">
                <div class="s-basket__method-title">Способ оплаты</div>
                <div class="s-field-radio">
                  <div class="s-field-radio__input-wrap"><label class="s-field-radio__name"><input class="s-field-radio__input" type="radio" name="radio-2" checked="checked" /><span class="s-field-radio__name-text">Банковская карта</span></label></div>
                  <div class="s-field-radio__input-wrap"><label class="s-field-radio__name"><input class="s-field-radio__input" type="radio" name="radio-2" /><span class="s-field-radio__name-text">Безналичный расчёт</span></label></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="s-page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="s-page-footer__inner">
          <section class="s-page-footer__block s-page-footer__block--contacts">
            <h3 class="s-page-footer__block-title">Контакты</h3>
            <ul class="s-page-footer__list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
              <li><address>107140, Москва, улица Площадь Комсомольская, дом 4а, сооружение 1</address>
              </li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Услуги</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Питание организованных групп</a></li>
              <li><a href="/">Питание в поездах</a></li>
              <li><a href="/">Питание в вагонах ресторанах</a></li>
              <li><a href="/">Напитки и закуски в поездах</a></li>
              <li><a href="/">Логичтика продовольственных товаров</a></li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Питание организованных групп</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Туристические группы</a></li>
              <li><a href="/">Детские группы</a></li>
              <li><a href="/">Иностранные группы</a></li>
              <li><a href="/">Бизнес и VIP питание</a></li>
              <li><a href="/">Индивидуальное питание</a></li>
            </ul>
          </section>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="js/script.min.js"></script>
</body>

</html>

src/basket.pug
extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block content

  .s-basket
    .container
      h1.s-basket__title Корзина
      .s-basket__total
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
      .row
        .col-12.col-md-6
          +form()
            .row
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'ФИО'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Организация'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Телефон'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'E-mail'
                  }
                })
              .col-12
                +field-text({
                  title: '',
                  isTextarea: true,
                  helpText: '',
                  mods: '',
                  val: '',
                  attrs: {
                    placeholder: 'Комментарий',
                    name: '',
                  }
                })
              .col-12
                +field-actions()
                  +btn('Оформить заказ')
        .col-12.col-md-6
          .s-basket__method
            .s-basket__method-title Вариант доставки
            +field-radio([
              {
                title: 'В поезд',
                mods: '',
                attrs: {
                  name: 'radio-1',
                  checked: true,
                }
              },
              {
                title: 'Доставка курьером (+ 300 ₽)',
                mods: '',
                attrs: {
                  name: 'radio-1',
                }
              },
            ])
          .s-basket__method
            .s-basket__method-title Способ оплаты
            +field-radio([
              {
                title: 'Банковская карта',
                mods: '',
                attrs: {
                  name: 'radio-2',
                  checked: true,
                }
              },
              {
                title: 'Безналичный расчёт',
                mods: '',
                attrs: {
                  name: 'radio-2',
                }
              },
            ])
