dist/delivery.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#5bbad5">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Main</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500&amp;display=swap&amp;subset=cyrillic">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body><noscript>JavaScript is disabled</noscript>
  <div class="s-page__inner">
    <div class="s-page__content">
      <header class="s-page-header" role="banner">
        <div class="s-page-header__top">
          <div class="s-page-header__top-inner">
            <ul class="s-page-header__contact-list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
            </ul>
            <div class="s-page-header__menu">
              <form class="s-search-form" method="post"><input class="s-search-form__input" type="search" placeholder="Поиск" /></form>
              <div class="s-page-header__languages">
                <div class="s-page-header__language-toggler">Ru</div>
                <div class="s-page-header__language">
                  <ul class="s-page-header__language-list">
                    <li><a href="/">Русский</a></li>
                    <li><a href="/">English</a></li>
                    <li><a href="/">Українська</a></li>
                    <li><a href="/">Eλληνικά</a></li>
                    <li><a href="/">Srpski</a></li>
                    <li><a href="/">Svenska</a></li>
                  </ul>
                </div>
              </div><a class="s-login" href="/">Войти</a>
            </div>
          </div>
        </div>
        <div class="s-page-header__bottom">
          <div class="s-page-header__bottom-inner"><a class="s-logo" href="/index.html"><img src="img/logo.svg" alt="НТС лого" width="113" height="57" /></a>
            <nav class="s-main-nav" id="s-main-nav">
              <ul class="s-main-nav__list">
                <li><a href="/about.html">О компании</a></li>
                <li><a href="/menu.html">Меню</a></li>
                <li><a href="/shop.html">Магазин</a></li>
                <li><a href="/">Заказ стола</a></li>
                <li><a href="/">Услуги</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
            </nav><a class="s-page-header__basket" href="basket.html">Корзина</a>
            <div class="s-page-header__burger"><button class="s-hamburger" aria-label="Show main navigation" data-target-id="s-main-nav" data-target-class-toggle="s-main-nav--is-shown"><span></span></button></div>
          </div>
        </div>
      </header>
      <section class="s-food-delivery">
        <div class="container">
          <h2 class="s-food-delivery__title">Поставка напитков, продуктов питания и сувенирной продукции</h2>
          <p class="s-food-delivery__desc">Напитки ТрансСервис (ООО «НТС») - Дочернее общество Федеральной Пассажирской Компании (АO «ФПК»), основанное в 2011 году. Стратегическая цель ООО «НТС» - повышение уровня сервисного обслуживания на борту и обеспечение пассажиров железнодорожного сообщения напитками, продуктами питания, сопроводительными товарами и услугами, отвечающими международным стандартам качества и безопасности.</p>
        </div>
      </section>
      <section class="s-section">
        <div class="container">
          <h2 class="s-section-title  s-section-title--with-caption"><span class="s-section-title__text">Поставщикам</span></h2>
          <p class="s-section-caption">Работа с поставщиками напитков и продуктов питания</p>
          <div class="row">
            <div class="col-12 col-md-8 col-lg-6">
              <form class="s-form">
                <div class="row">
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Обращение" /></span></label></div>
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Телефон" /></span></label></div>
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="E-mail" /></span></label></div>
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="ИНН" /></span></label></div>
                  <div class="col-12"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Обзор" /></span></label></div>
                  <div class="col-12"><label class="s-field-text"><span class="s-field-text__input-wrap"><textarea class="s-field-text__input" placeholder="Комментарий" name=""></textarea></span></label></div>
                  <div class="col-12">
                    <div class="s-field-actions"><button class="s-btn">Отправить</button></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-12 col-md-4 col-lg-6">
              <p>Уважаемые поставщики! ООО «НТС» ведет закупочную деятельность в рамках 223-его ФЗ. Все Коммерческие предложения вы можете отправить заполнив форму обратной связи.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="s-main-directions">
        <div class="container">
          <h2 class="s-main-directions__title">Основные направления поставок</h2>
          <div class="row">
            <div class="col-12 col-md-6">
              <ul class="s-main-directions__list">
                <li>Поезда дальнего следования</li>
                <li>Обслуживание пассажиров в «Вагонах-ресторанах»</li>
                <li>Поставка товаров арендаторам скоростных поездов «Сапасан», «Стриж»</li>
                <li>В поезда пригородного сообщения «Ласточка»</li>
                <li>Поезда частных перевозчиков</li>
                <li>Железнодорожная торговая компания</li>
                <li>Поставка товаров на вокзальный и привокзальный комплексы АО «РЖД»</li>
              </ul>
            </div>
            <div class="col-12 col-md-6">
              <p class="s-main-directions__desc">ООО «НТС» работает с лучшими мировыми и региональными производителями продуктов питания и напитков, что позволяет обеспечить высокий уровень качества, оптимальные цены и привлекательные программы лояльности. Качество продуктов питания, напитков и уровень обслуживания наших клиентов Гарантировано</p>
            </div>
          </div>
        </div>
      </section>
      <section class="s-section">
        <div class="container">
          <h2 class="s-section-title  s-section-title--with-caption"><span class="s-section-title__text">Покупателям</span></h2>
          <p class="s-section-caption">Широкий ассортимент продукции и выгодные условия</p>
          <div class="row">
            <div class="col-12 col-md-8 col-lg-6">
              <form class="s-form">
                <div class="row">
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Обращение" /></span></label></div>
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Телефон" /></span></label></div>
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="E-mail" /></span></label></div>
                  <div class="col-12 col-md-6"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="ИНН" /></span></label></div>
                  <div class="col-12"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Обзор" /></span></label></div>
                  <div class="col-12"><label class="s-field-text"><span class="s-field-text__input-wrap"><textarea class="s-field-text__input" placeholder="Комментарий" name=""></textarea></span></label></div>
                  <div class="col-12">
                    <div class="s-field-actions"><button class="s-btn">Отправить</button></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-12 col-md-4 col-lg-6">
              <p>Если вы хотите стать покупателем ООО «НТС» заполните форму связи с нами, обязательно указав локацию своей деятельности, мы с Вами обязательно свяжемся.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="s-map">
        <div class="s-map__header">
          <h2 class="s-section-title  s-section-title--with-caption"><span class="s-section-title__text">Поставка напитков и продуктов питания</span></h2>
          <p class="s-section-caption">Наша филиальная сеть</p>
        </div>
        <script type="text/javascript" charset="utf-8" async="" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A275f745b5053b0aa2af1d458be84c998e9e83590356e66a03893bc28b4c8c3b5&amp;width=100%25&amp;height=570&amp;lang=en_FR&amp;scroll=true"></script>
        <div class="s-map__info">
          <div class="container">
            <div class="s-map__info-inner">
              <div class="s-map__info-cover"><img src="img/map-info-cover.jpg" alt="/"></div>
              <h3 class="s-map__info-title">Компания осуществляет поставки продукции в 47 городов России</h3>
              <p>НТС постоянно совершенствует логистические и производственные мощности, создавая единые стандарты хранения, распределения и комплектации товаров, и грузов. Логистические решения ООО «НТС» полностью созданы и настроены для поставок продуктов питания в любой регион по всей территории России.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="s-section">
        <div class="container">
          <h2 class="s-section-title"><span class="s-section-title__text">Партнеры</span></h2>
          <div class="swiper-container s-slider s-slider--partners">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/rzd.jpg" alt="РЖД" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/fpk.jpg" alt="Федеральная пассажирская компания" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/alfa.jpg" alt="Альфа Банк" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/rzd.jpg" alt="РЖД" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/fpk.jpg" alt="Федеральная пассажирская компания" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/alfa.jpg" alt="Альфа Банк" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/rzd.jpg" alt="РЖД" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/fpk.jpg" alt="Федеральная пассажирская компания" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/alfa.jpg" alt="Альфа Банк" /></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="s-page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="s-page-footer__inner">
          <section class="s-page-footer__block s-page-footer__block--contacts">
            <h3 class="s-page-footer__block-title">Контакты</h3>
            <ul class="s-page-footer__list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
              <li><address>107140, Москва, улица Площадь Комсомольская, дом 4а, сооружение 1</address>
              </li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Услуги</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Питание организованных групп</a></li>
              <li><a href="/">Питание в поездах</a></li>
              <li><a href="/">Питание в вагонах ресторанах</a></li>
              <li><a href="/">Напитки и закуски в поездах</a></li>
              <li><a href="/">Логичтика продовольственных товаров</a></li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Питание организованных групп</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Туристические группы</a></li>
              <li><a href="/">Детские группы</a></li>
              <li><a href="/">Иностранные группы</a></li>
              <li><a href="/">Бизнес и VIP питание</a></li>
              <li><a href="/">Индивидуальное питание</a></li>
            </ul>
          </section>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="js/script.min.js"></script>
</body>

</html>

src/delivery.pug
extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block content

  section.s-food-delivery
    .container
      h2.s-food-delivery__title Поставка напитков, продуктов питания и сувенирной продукции
      p.s-food-delivery__desc
        | Напитки ТрансСервис (ООО «НТС») - Дочернее общество Федеральной Пассажирской Компании (АO «ФПК»), основанное в 2011 году. Стратегическая цель ООО «НТС» - повышение уровня сервисного обслуживания на борту и обеспечение пассажиров железнодорожного сообщения напитками, продуктами питания, сопроводительными товарами и услугами, отвечающими международным стандартам качества и безопасности.

  section.s-section
    .container
      +section-title('Поставщикам', 'with-caption')
      +section-caption('Работа с поставщиками напитков и продуктов питания')
      .row
        .col-12.col-md-8.col-lg-6
          +form()
            .row
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Обращение'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Телефон'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'E-mail'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'ИНН'
                  }
                })
              .col-12
                +field-text({
                  attrs: {
                    placeholder: 'Обзор'
                  }
                })
              .col-12
                +field-text({
                  title: '',
                  isTextarea: true,
                  helpText: '',
                  mods: '',
                  val: '',
                  attrs: {
                    placeholder: 'Комментарий',
                    name: '',
                  }
                })
              .col-12
                +field-actions()
                  +btn('Отправить')

        .col-12.col-md-4.col-lg-6
          p Уважаемые поставщики! ООО «НТС» ведет закупочную деятельность в рамках 223-его ФЗ. Все Коммерческие предложения вы можете отправить заполнив форму обратной связи.

  section.s-main-directions
    .container
      h2.s-main-directions__title Основные направления поставок
      .row
        .col-12.col-md-6
          ul.s-main-directions__list
            li Поезда дальнего следования
            li Обслуживание пассажиров в «Вагонах-ресторанах»
            li Поставка товаров арендаторам скоростных поездов «Сапасан», «Стриж»
            li В поезда пригородного сообщения «Ласточка»
            li Поезда частных перевозчиков
            li Железнодорожная торговая компания
            li Поставка товаров на вокзальный и привокзальный комплексы АО «РЖД»
        .col-12.col-md-6
          p.s-main-directions__desc
            | ООО «НТС» работает с лучшими мировыми и региональными производителями продуктов питания и напитков, что позволяет обеспечить высокий уровень качества, оптимальные цены и привлекательные программы лояльности. Качество продуктов питания, напитков и уровень обслуживания наших клиентов Гарантировано

  section.s-section
    .container
      +section-title('Покупателям', 'with-caption')
      +section-caption('Широкий ассортимент продукции и выгодные условия')
      .row
        .col-12.col-md-8.col-lg-6
          +form()
            .row
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Обращение'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Телефон'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'E-mail'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'ИНН'
                  }
                })
              .col-12
                +field-text({
                  attrs: {
                    placeholder: 'Обзор'
                  }
                })
              .col-12
                +field-text({
                  title: '',
                  isTextarea: true,
                  helpText: '',
                  mods: '',
                  val: '',
                  attrs: {
                    placeholder: 'Комментарий',
                    name: '',
                  }
                })
              .col-12
                +field-actions()
                  +btn('Отправить')

        .col-12.col-md-4.col-lg-6
          p Если вы хотите стать покупателем ООО «НТС» заполните форму связи с нами, обязательно указав локацию своей деятельности, мы с Вами обязательно свяжемся.

  section.s-map
    .s-map__header
      +section-title('Поставка напитков и продуктов питания', 'with-caption')
      +section-caption('Наша филиальная сеть')
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A275f745b5053b0aa2af1d458be84c998e9e83590356e66a03893bc28b4c8c3b5&width=100%25&height=570&lang=en_FR&scroll=true')
    .s-map__info
      .container
        .s-map__info-inner
          .s-map__info-cover
            img(src='img/map-info-cover.jpg', alt='/')
          h3.s-map__info-title Компания осуществляет поставки продукции в 47 городов России
          p НТС постоянно совершенствует логистические и производственные мощности, создавая единые стандарты хранения, распределения и комплектации товаров, и грузов. Логистические решения ООО «НТС» полностью созданы и настроены для поставок продуктов питания в любой регион по всей территории России.

  section.s-section
    .container
      +section-title('Партнеры')
      .swiper-container.s-slider.s-slider--partners
        .swiper-wrapper
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')
