src/index.pug
extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block content

  .s-promo
    .swiper-container.s-slider.s-slider--promo
      .swiper-wrapper
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-inner
              section.s-promo__block
                h2.s-promo__block-title Питание в поездах дальнего следования
                span.s-promo__target Для путешественников
                ul.s-promo__desc-list
                  li Туристические группы
                  li Детские группы
                  li Иностранные группы
                  li Бизнес и VIP питание
                +btn('Заказать', 'ghost')(type='button', data-toggle='modal', data-target='#exampleModal')
              section.s-promo__block
                h2.s-promo__block-title Поставка напитков, продуктов питания и сувенирной продукции
                span.s-promo__target Для организаций
                ul.s-promo__desc-list
                  li Прямые поставки от официального дистрибютора
                  li Федеральная филиальная сеть
                  li Широкая номенклатура продукции
                +btn('Подробнее', 'ghost')
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-inner
              section.s-promo__block
                h2.s-promo__block-title Питание в поездах дальнего следования
                span.s-promo__target Для путешественников
                ul.s-promo__desc-list
                  li Туристические группы
                  li Детские группы
                  li Иностранные группы
                  li Бизнес и VIP питание
                +btn('Заказать', 'ghost')(type='button', data-toggle='modal', data-target='#exampleModal')
              section.s-promo__block
                h2.s-promo__block-title Поставка напитков, продуктов питания и сувенирной продукции
                span.s-promo__target Для организаций
                ul.s-promo__desc-list
                  li Прямые поставки от официального дистрибютора
                  li Федеральная филиальная сеть
                  li Широкая номенклатура продукции
                +btn('Подробнее', 'ghost')

  section.s-section.s-trans-service-drinks
    .container
      +section-title('Напитки транс сервис')
      .s-trans-service-drinks__inner
        .s-trans-service-drinks__cover
          img(src='img/trans-service-drinks-cover.jpg', alt='/')
        h3.s-trans-service-drinks__subtitle Обеспечение поездов питанием, напитками и непродовольственными товарами
        p Наша компания осуществляет деятельность по обеспечению поездов дальнего следования и скоростного сообщения напитками, продовольственными и непродовольственными товарами для их реализации пассажирам поездов. ООО «Напитки ТрансСервис» - дочернее Общество АО «Федеральная пассажирская компания» было создано в 2011 году с целью построения новой системы обеспечения пассажиров продукцией гарантированного качества и безопасности, построенной на основе сетевых технологий по принципам категорийного менеджмента.

  section.s-section.s-section--menu
    .container
      +section-title('Меню')
      +more-link('Все меню')
      .swiper-container.s-slider.s-slider--nav.s-slider--menu
        .swiper-wrapper
          .swiper-slide
            +menu-card('img/menu-breakfast.jpg', 'Завтрак')
          .swiper-slide
            +menu-card('img/group-1.jpg', 'Вариант №1')
          .swiper-slide
            +menu-card('img/menu-kids.png', 'Детское меню')
          .swiper-slide
            +menu-card('img/menu-breakfast.jpg', 'Завтрак')
          .swiper-slide
            +menu-card('img/menu-breakfast.jpg', 'Завтрак')
          .swiper-slide
            +menu-card('img/menu-breakfast.jpg', 'Завтрак')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

  section.s-section
    .container
      +section-title('Магазин', 'with-caption')
      +section-caption('Закажи с собой в дорогу')
      .swiper-container.s-slider.s-slider--nav.s-slider--category
        .swiper-wrapper
          .swiper-slide
            +category('img/snacks.png', 'Снеки')
          .swiper-slide
            +category('img/drinks.png', 'Напитки')
          .swiper-slide
            +category('img/sweets.png', 'Кондитерская продукция')
          .swiper-slide
            +category('img/souvenirs.png', 'Сувениры')
          .swiper-slide
            +category('img/snacks.png', 'Снеки')
          .swiper-slide
            +category('img/drinks.png', 'Напитки')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

  section.s-section
    .container
      +section-title('Партнеры')
      .swiper-container.s-slider.s-slider--partners
        .swiper-wrapper
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')

  +modal()

dist/index.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#5bbad5">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Main</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500&amp;display=swap&amp;subset=cyrillic">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body><noscript>JavaScript is disabled</noscript>
  <div class="s-page__inner">
    <div class="s-page__content">
      <header class="s-page-header" role="banner">
        <div class="s-page-header__top">
          <div class="s-page-header__top-inner">
            <ul class="s-page-header__contact-list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
            </ul>
            <div class="s-page-header__menu">
              <form class="s-search-form" method="post"><input class="s-search-form__input" type="search" placeholder="Поиск" /></form>
              <div class="s-page-header__languages">
                <div class="s-page-header__language-toggler">Ru</div>
                <div class="s-page-header__language">
                  <ul class="s-page-header__language-list">
                    <li><a href="/">Русский</a></li>
                    <li><a href="/">English</a></li>
                    <li><a href="/">Українська</a></li>
                    <li><a href="/">Eλληνικά</a></li>
                    <li><a href="/">Srpski</a></li>
                    <li><a href="/">Svenska</a></li>
                  </ul>
                </div>
              </div><a class="s-login" href="/">Войти</a>
            </div>
          </div>
        </div>
        <div class="s-page-header__bottom">
          <div class="s-page-header__bottom-inner"><a class="s-logo" href="/index.html"><img src="img/logo.svg" alt="НТС лого" width="113" height="57" /></a>
            <nav class="s-main-nav" id="s-main-nav">
              <ul class="s-main-nav__list">
                <li><a href="/about.html">О компании</a></li>
                <li><a href="/menu.html">Меню</a></li>
                <li><a href="/shop.html">Магазин</a></li>
                <li><a href="/">Заказ стола</a></li>
                <li><a href="/">Услуги</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
            </nav><a class="s-page-header__basket" href="basket.html">Корзина</a>
            <div class="s-page-header__burger"><button class="s-hamburger" aria-label="Show main navigation" data-target-id="s-main-nav" data-target-class-toggle="s-main-nav--is-shown"><span></span></button></div>
          </div>
        </div>
      </header>
      <div class="s-promo">
        <div class="swiper-container s-slider s-slider--promo">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="s-promo__slide">
                <div class="s-promo__slide-inner">
                  <section class="s-promo__block">
                    <h2 class="s-promo__block-title">Питание в поездах дальнего следования</h2><span class="s-promo__target">Для путешественников</span>
                    <ul class="s-promo__desc-list">
                      <li>Туристические группы</li>
                      <li>Детские группы</li>
                      <li>Иностранные группы</li>
                      <li>Бизнес и VIP питание</li>
                    </ul><button class="s-btn  s-btn--ghost" type="button" data-toggle="modal" data-target="#exampleModal">Заказать</button>
                  </section>
                  <section class="s-promo__block">
                    <h2 class="s-promo__block-title">Поставка напитков, продуктов питания и сувенирной продукции</h2><span class="s-promo__target">Для организаций</span>
                    <ul class="s-promo__desc-list">
                      <li>Прямые поставки от официального дистрибютора</li>
                      <li>Федеральная филиальная сеть</li>
                      <li>Широкая номенклатура продукции</li>
                    </ul><button class="s-btn  s-btn--ghost">Подробнее</button>
                  </section>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="s-promo__slide">
                <div class="s-promo__slide-inner">
                  <section class="s-promo__block">
                    <h2 class="s-promo__block-title">Питание в поездах дальнего следования</h2><span class="s-promo__target">Для путешественников</span>
                    <ul class="s-promo__desc-list">
                      <li>Туристические группы</li>
                      <li>Детские группы</li>
                      <li>Иностранные группы</li>
                      <li>Бизнес и VIP питание</li>
                    </ul><button class="s-btn  s-btn--ghost" type="button" data-toggle="modal" data-target="#exampleModal">Заказать</button>
                  </section>
                  <section class="s-promo__block">
                    <h2 class="s-promo__block-title">Поставка напитков, продуктов питания и сувенирной продукции</h2><span class="s-promo__target">Для организаций</span>
                    <ul class="s-promo__desc-list">
                      <li>Прямые поставки от официального дистрибютора</li>
                      <li>Федеральная филиальная сеть</li>
                      <li>Широкая номенклатура продукции</li>
                    </ul><button class="s-btn  s-btn--ghost">Подробнее</button>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="s-section s-trans-service-drinks">
        <div class="container">
          <h2 class="s-section-title"><span class="s-section-title__text">Напитки транс сервис</span></h2>
          <div class="s-trans-service-drinks__inner">
            <div class="s-trans-service-drinks__cover"><img src="img/trans-service-drinks-cover.jpg" alt="/"></div>
            <h3 class="s-trans-service-drinks__subtitle">Обеспечение поездов питанием, напитками и непродовольственными товарами</h3>
            <p>Наша компания осуществляет деятельность по обеспечению поездов дальнего следования и скоростного сообщения напитками, продовольственными и непродовольственными товарами для их реализации пассажирам поездов. ООО «Напитки ТрансСервис» - дочернее Общество АО «Федеральная пассажирская компания» было создано в 2011 году с целью построения новой системы обеспечения пассажиров продукцией гарантированного качества и безопасности, построенной на основе сетевых технологий по принципам категорийного менеджмента.</p>
          </div>
        </div>
      </section>
      <section class="s-section s-section--menu">
        <div class="container">
          <h2 class="s-section-title"><span class="s-section-title__text">Меню</span></h2><a class="s-more-link" href="/menu.html">Все меню</a>
          <div class="swiper-container s-slider s-slider--nav s-slider--menu">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="s-menu-card">
                  <div class="s-menu-card__main">
                    <div class="s-menu-card__cover"><img src="img/menu-breakfast.jpg" alt="/" /></div>
                    <div class="s-menu-card__info">
                      <h3 class="s-menu-card__title">Завтрак</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                  </div>
                  <div class="s-menu-card__additional">
                    <div class="s-menu-card__additional-header">
                      <h3 class="s-menu-card__title">Завтрак</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                    <ul class="s-menu-card__list">
                      <li>Салат «Витаминный»</li>
                      <li>Борщ с курицей и сметаной</li>
                      <li>Куриное филе в сливочном соусе</li>
                      <li>Черный чай с сахаром</li>
                      <li>Хлеб</li>
                    </ul><a class="s-btn" href="menu-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-menu-card">
                  <div class="s-menu-card__main">
                    <div class="s-menu-card__cover"><img src="img/group-1.jpg" alt="/" /></div>
                    <div class="s-menu-card__info">
                      <h3 class="s-menu-card__title">Вариант №1</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                  </div>
                  <div class="s-menu-card__additional">
                    <div class="s-menu-card__additional-header">
                      <h3 class="s-menu-card__title">Вариант №1</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                    <ul class="s-menu-card__list">
                      <li>Салат «Витаминный»</li>
                      <li>Борщ с курицей и сметаной</li>
                      <li>Куриное филе в сливочном соусе</li>
                      <li>Черный чай с сахаром</li>
                      <li>Хлеб</li>
                    </ul><a class="s-btn" href="menu-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-menu-card">
                  <div class="s-menu-card__main">
                    <div class="s-menu-card__cover"><img src="img/menu-kids.png" alt="/" /></div>
                    <div class="s-menu-card__info">
                      <h3 class="s-menu-card__title">Детское меню</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                  </div>
                  <div class="s-menu-card__additional">
                    <div class="s-menu-card__additional-header">
                      <h3 class="s-menu-card__title">Детское меню</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                    <ul class="s-menu-card__list">
                      <li>Салат «Витаминный»</li>
                      <li>Борщ с курицей и сметаной</li>
                      <li>Куриное филе в сливочном соусе</li>
                      <li>Черный чай с сахаром</li>
                      <li>Хлеб</li>
                    </ul><a class="s-btn" href="menu-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-menu-card">
                  <div class="s-menu-card__main">
                    <div class="s-menu-card__cover"><img src="img/menu-breakfast.jpg" alt="/" /></div>
                    <div class="s-menu-card__info">
                      <h3 class="s-menu-card__title">Завтрак</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                  </div>
                  <div class="s-menu-card__additional">
                    <div class="s-menu-card__additional-header">
                      <h3 class="s-menu-card__title">Завтрак</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                    <ul class="s-menu-card__list">
                      <li>Салат «Витаминный»</li>
                      <li>Борщ с курицей и сметаной</li>
                      <li>Куриное филе в сливочном соусе</li>
                      <li>Черный чай с сахаром</li>
                      <li>Хлеб</li>
                    </ul><a class="s-btn" href="menu-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-menu-card">
                  <div class="s-menu-card__main">
                    <div class="s-menu-card__cover"><img src="img/menu-breakfast.jpg" alt="/" /></div>
                    <div class="s-menu-card__info">
                      <h3 class="s-menu-card__title">Завтрак</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                  </div>
                  <div class="s-menu-card__additional">
                    <div class="s-menu-card__additional-header">
                      <h3 class="s-menu-card__title">Завтрак</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                    <ul class="s-menu-card__list">
                      <li>Салат «Витаминный»</li>
                      <li>Борщ с курицей и сметаной</li>
                      <li>Куриное филе в сливочном соусе</li>
                      <li>Черный чай с сахаром</li>
                      <li>Хлеб</li>
                    </ul><a class="s-btn" href="menu-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-menu-card">
                  <div class="s-menu-card__main">
                    <div class="s-menu-card__cover"><img src="img/menu-breakfast.jpg" alt="/" /></div>
                    <div class="s-menu-card__info">
                      <h3 class="s-menu-card__title">Завтрак</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                  </div>
                  <div class="s-menu-card__additional">
                    <div class="s-menu-card__additional-header">
                      <h3 class="s-menu-card__title">Завтрак</h3><span class="s-menu-card__price">430 ₽</span>
                    </div>
                    <ul class="s-menu-card__list">
                      <li>Салат «Витаминный»</li>
                      <li>Борщ с курицей и сметаной</li>
                      <li>Куриное филе в сливочном соусе</li>
                      <li>Черный чай с сахаром</li>
                      <li>Хлеб</li>
                    </ul><a class="s-btn" href="menu-card.html">Заказать</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="s-slider__nav">
              <div class="s-slider__button s-slider__button--prev"></div>
              <div class="s-slider__button s-slider__button--next"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="s-section">
        <div class="container">
          <h2 class="s-section-title  s-section-title--with-caption"><span class="s-section-title__text">Магазин</span></h2>
          <p class="s-section-caption">Закажи с собой в дорогу</p>
          <div class="swiper-container s-slider s-slider--nav s-slider--category">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><a class="s-category" href="/">
                  <div class="s-category__cover"><img src="img/snacks.png" alt="/" /></div><span class="s-category__desc">Снеки</span>
                </a></div>
              <div class="swiper-slide"><a class="s-category" href="/">
                  <div class="s-category__cover"><img src="img/drinks.png" alt="/" /></div><span class="s-category__desc">Напитки</span>
                </a></div>
              <div class="swiper-slide"><a class="s-category" href="/">
                  <div class="s-category__cover"><img src="img/sweets.png" alt="/" /></div><span class="s-category__desc">Кондитерская продукция</span>
                </a></div>
              <div class="swiper-slide"><a class="s-category" href="/">
                  <div class="s-category__cover"><img src="img/souvenirs.png" alt="/" /></div><span class="s-category__desc">Сувениры</span>
                </a></div>
              <div class="swiper-slide"><a class="s-category" href="/">
                  <div class="s-category__cover"><img src="img/snacks.png" alt="/" /></div><span class="s-category__desc">Снеки</span>
                </a></div>
              <div class="swiper-slide"><a class="s-category" href="/">
                  <div class="s-category__cover"><img src="img/drinks.png" alt="/" /></div><span class="s-category__desc">Напитки</span>
                </a></div>
            </div>
            <div class="s-slider__nav">
              <div class="s-slider__button s-slider__button--prev"></div>
              <div class="s-slider__button s-slider__button--next"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="s-section">
        <div class="container">
          <h2 class="s-section-title"><span class="s-section-title__text">Партнеры</span></h2>
          <div class="swiper-container s-slider s-slider--partners">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/rzd.jpg" alt="РЖД" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/fpk.jpg" alt="Федеральная пассажирская компания" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/alfa.jpg" alt="Альфа Банк" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/rzd.jpg" alt="РЖД" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/fpk.jpg" alt="Федеральная пассажирская компания" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/alfa.jpg" alt="Альфа Банк" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/rzd.jpg" alt="РЖД" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/fpk.jpg" alt="Федеральная пассажирская компания" /></div>
              </div>
              <div class="swiper-slide">
                <div class="s-partner"><img src="img/alfa.jpg" alt="Альфа Банк" /></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="s-modal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content s-modal__content">
            <h5 class="s-modal__title">Обратный звонок</h5>
            <p class="s-modal__desc">Оставьте ваши контактные данные и мы перезвоним вам в ближайшее время!</p>
            <form class="s-form"><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Имя" /></span></label><label class="s-field-text"><span class="s-field-text__input-wrap"><input class="s-field-text__input" type="text" placeholder="Телефон" /></span></label></form><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><button class="s-btn">Отправить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="s-page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="s-page-footer__inner">
          <section class="s-page-footer__block s-page-footer__block--contacts">
            <h3 class="s-page-footer__block-title">Контакты</h3>
            <ul class="s-page-footer__list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
              <li><address>107140, Москва, улица Площадь Комсомольская, дом 4а, сооружение 1</address>
              </li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Услуги</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Питание организованных групп</a></li>
              <li><a href="/">Питание в поездах</a></li>
              <li><a href="/">Питание в вагонах ресторанах</a></li>
              <li><a href="/">Напитки и закуски в поездах</a></li>
              <li><a href="/">Логичтика продовольственных товаров</a></li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Питание организованных групп</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Туристические группы</a></li>
              <li><a href="/">Детские группы</a></li>
              <li><a href="/">Иностранные группы</a></li>
              <li><a href="/">Бизнес и VIP питание</a></li>
              <li><a href="/">Индивидуальное питание</a></li>
            </ul>
          </section>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="js/script.min.js"></script>
</body>

</html>
