src/menu-card.pug
extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block content

  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('Меню', '/menu.html')
    +breadcrumb-item('Детский рацион')

  .s-section.s-section--first
    .container
      .row
        .col-12.col-md-3
          +side-nav('Детский рацион')
            +side-nav-item('Вариант №1')
            +side-nav-item('Вариант №2')
            +side-nav-item('Вариант №3')
        .col-12.col-md-9
          section.s-offer-layout
            .row
              .col-12.col-md-7
                .s-offer-layout__cover
                  img(src='img/menu-info-cover.jpg', alt='/')
              .col-12.col-md-5
                form.s-offer-layout__info
                  h1.s-offer-layout__title Детский рацион №1
                  ul.s-offer-layout__desc-list
                    li
                      span id
                      span 0240089
                    li
                      span в наличии
                      span есть
                    li
                      label кол-во
                      input(value='1')
                  .s-offer-layout__bottom
                    .s-offer-layout__price Цена: 500 ₽
                    button.s-offer-layout__feedback Задать вопрос
                    +btn('В корзину')(type='submit')
            .row
              .col-12
                .s-offer-layout__tabs
                  .s-tabs
                    ul(data-tabs='').s-tabs__list
                      li
                        a(data-tabby-default='', href='#harry') Состав
                      li
                        a(href='#hermione') Доступность
                      li
                        a(href='#neville') Отзывы и комментарии
                    .s-tabs__content
                      #harry Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, commodi.
                      #hermione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore porro, nobis perferendis nulla vero, et.
                      #neville Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, asperiores fugiat quos laboriosam praesentium ipsam iusto cumque sit facilis perspiciatis.


block page-bottom
  script(src='https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.1/dist/js/tabby.polyfills.min.js')
  script(src='https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.1/dist/js/tabby.min.js')
  script(src='js/script.min.js')
  script.
    var tabs = new Tabby('[data-tabs]');

dist/menu-card.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#5bbad5">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Main</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500&amp;display=swap&amp;subset=cyrillic">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body><noscript>JavaScript is disabled</noscript>
  <div class="s-page__inner">
    <div class="s-page__content">
      <header class="s-page-header" role="banner">
        <div class="s-page-header__top">
          <div class="s-page-header__top-inner">
            <ul class="s-page-header__contact-list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
            </ul>
            <div class="s-page-header__menu">
              <form class="s-search-form" method="post"><input class="s-search-form__input" type="search" placeholder="Поиск" /></form>
              <div class="s-page-header__languages">
                <div class="s-page-header__language-toggler">Ru</div>
                <div class="s-page-header__language">
                  <ul class="s-page-header__language-list">
                    <li><a href="/">Русский</a></li>
                    <li><a href="/">English</a></li>
                    <li><a href="/">Українська</a></li>
                    <li><a href="/">Eλληνικά</a></li>
                    <li><a href="/">Srpski</a></li>
                    <li><a href="/">Svenska</a></li>
                  </ul>
                </div>
              </div><a class="s-login" href="/">Войти</a>
            </div>
          </div>
        </div>
        <div class="s-page-header__bottom">
          <div class="s-page-header__bottom-inner"><a class="s-logo" href="/index.html"><img src="img/logo.svg" alt="НТС лого" width="113" height="57" /></a>
            <nav class="s-main-nav" id="s-main-nav">
              <ul class="s-main-nav__list">
                <li><a href="/about.html">О компании</a></li>
                <li><a href="/menu.html">Меню</a></li>
                <li><a href="/shop.html">Магазин</a></li>
                <li><a href="/">Заказ стола</a></li>
                <li><a href="/">Услуги</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
            </nav><a class="s-page-header__basket" href="basket.html">Корзина</a>
            <div class="s-page-header__burger"><button class="s-hamburger" aria-label="Show main navigation" data-target-id="s-main-nav" data-target-class-toggle="s-main-nav--is-shown"><span></span></button></div>
          </div>
        </div>
      </header>
      <div class="s-breadcrumb">
        <div class="container">
          <ul class="s-breadcrumb__list" aria-label="Breadcrumb" role="navigation">
            <li class="s-breadcrumb__item"><a href="/index.html">Главная</a></li>
            <li class="s-breadcrumb__item"><a href="/menu.html">Меню</a></li>
            <li class="s-breadcrumb__item"><span>Детский рацион</span></li>
          </ul>
        </div>
      </div>
      <div class="s-section s-section--first">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="s-side-nav">
                <div class="s-side-nav__title">Детский рацион</div><button class="s-side-nav__toggle">Подразделы</button>
                <ul class="s-side-nav__list">
                  <li><a href="/">Вариант №1</a></li>
                  <li><a href="/">Вариант №2</a></li>
                  <li><a href="/">Вариант №3</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <section class="s-offer-layout">
                <div class="row">
                  <div class="col-12 col-md-7">
                    <div class="s-offer-layout__cover"><img src="img/menu-info-cover.jpg" alt="/"></div>
                  </div>
                  <div class="col-12 col-md-5">
                    <form class="s-offer-layout__info">
                      <h1 class="s-offer-layout__title">Детский рацион №1</h1>
                      <ul class="s-offer-layout__desc-list">
                        <li><span>id</span><span>0240089</span></li>
                        <li><span>в наличии</span><span>есть</span></li>
                        <li><label>кол-во</label><input value="1"></li>
                      </ul>
                      <div class="s-offer-layout__bottom">
                        <div class="s-offer-layout__price">Цена: 500 ₽</div><button class="s-offer-layout__feedback">Задать вопрос</button><button class="s-btn" type="submit">В корзину</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="s-offer-layout__tabs">
                      <div class="s-tabs">
                        <ul class="s-tabs__list" data-tabs="">
                          <li><a data-tabby-default="" href="#harry">Состав</a></li>
                          <li><a href="#hermione">Доступность</a></li>
                          <li><a href="#neville">Отзывы и комментарии</a></li>
                        </ul>
                        <div class="s-tabs__content">
                          <div id="harry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, commodi.</div>
                          <div id="hermione">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore porro, nobis perferendis nulla vero, et.</div>
                          <div id="neville">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, asperiores fugiat quos laboriosam praesentium ipsam iusto cumque sit facilis perspiciatis.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="s-page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="s-page-footer__inner">
          <section class="s-page-footer__block s-page-footer__block--contacts">
            <h3 class="s-page-footer__block-title">Контакты</h3>
            <ul class="s-page-footer__list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
              <li><address>107140, Москва, улица Площадь Комсомольская, дом 4а, сооружение 1</address>
              </li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Услуги</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Питание организованных групп</a></li>
              <li><a href="/">Питание в поездах</a></li>
              <li><a href="/">Питание в вагонах ресторанах</a></li>
              <li><a href="/">Напитки и закуски в поездах</a></li>
              <li><a href="/">Логичтика продовольственных товаров</a></li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Питание организованных групп</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Туристические группы</a></li>
              <li><a href="/">Детские группы</a></li>
              <li><a href="/">Иностранные группы</a></li>
              <li><a href="/">Бизнес и VIP питание</a></li>
              <li><a href="/">Индивидуальное питание</a></li>
            </ul>
          </section>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.1/dist/js/tabby.polyfills.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.1/dist/js/tabby.min.js"></script>
  <script src="js/script.min.js"></script>
  <script>
    var tabs = new Tabby('[data-tabs]');
  </script>
</body>

</html>
