dist/shop.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#5bbad5">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Shop</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500&amp;display=swap&amp;subset=cyrillic">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body><noscript>JavaScript is disabled</noscript>
  <div class="s-page__inner">
    <div class="s-page__content">
      <header class="s-page-header" role="banner">
        <div class="s-page-header__top">
          <div class="s-page-header__top-inner">
            <ul class="s-page-header__contact-list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
            </ul>
            <div class="s-page-header__menu">
              <form class="s-search-form" method="post"><input class="s-search-form__input" type="search" placeholder="Поиск" /></form>
              <div class="s-page-header__languages">
                <div class="s-page-header__language-toggler">Ru</div>
                <div class="s-page-header__language">
                  <ul class="s-page-header__language-list">
                    <li><a href="/">Русский</a></li>
                    <li><a href="/">English</a></li>
                    <li><a href="/">Українська</a></li>
                    <li><a href="/">Eλληνικά</a></li>
                    <li><a href="/">Srpski</a></li>
                    <li><a href="/">Svenska</a></li>
                  </ul>
                </div>
              </div><a class="s-login" href="/">Войти</a>
            </div>
          </div>
        </div>
        <div class="s-page-header__bottom">
          <div class="s-page-header__bottom-inner"><a class="s-logo" href="/index.html"><img src="img/logo.svg" alt="НТС лого" width="113" height="57" /></a>
            <nav class="s-main-nav" id="s-main-nav">
              <ul class="s-main-nav__list">
                <li><a href="/about.html">О компании</a></li>
                <li><a href="/menu.html">Меню</a></li>
                <li><a href="/shop.html">Магазин</a></li>
                <li><a href="/">Заказ стола</a></li>
                <li><a href="/">Услуги</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
            </nav><a class="s-page-header__basket" href="basket.html">Корзина</a>
            <div class="s-page-header__burger"><button class="s-hamburger" aria-label="Show main navigation" data-target-id="s-main-nav" data-target-class-toggle="s-main-nav--is-shown"><span></span></button></div>
          </div>
        </div>
      </header>
      <div class="s-breadcrumb">
        <div class="container">
          <ul class="s-breadcrumb__list" aria-label="Breadcrumb" role="navigation">
            <li class="s-breadcrumb__item"><a href="/index.html">Главная</a></li>
            <li class="s-breadcrumb__item"><span>Магазин</span></li>
          </ul>
        </div>
      </div>
      <div class="s-section s-section--first">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="s-side-nav">
                <div class="s-side-nav__title">Магазин</div><button class="s-side-nav__toggle">Подразделы</button>
                <ul class="s-side-nav__list">
                  <li><a href="/">Покупателю</a></li>
                  <li><a href="/">Поставщику</a></li>
                  <li><a href="/">Доставка и оплата</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4"><a class="s-category" href="/">
                    <div class="s-category__cover"><img src="img/snacks.png" alt="/" /></div><span class="s-category__desc">Снеки</span>
                  </a></div>
                <div class="col-12 col-md-6 col-lg-4"><a class="s-category" href="/">
                    <div class="s-category__cover"><img src="img/drinks.png" alt="/" /></div><span class="s-category__desc">Напитки</span>
                  </a></div>
                <div class="col-12 col-md-6 col-lg-4"><a class="s-category" href="/">
                    <div class="s-category__cover"><img src="img/sweets.png" alt="/" /></div><span class="s-category__desc">Кондитерская продукция</span>
                  </a></div>
                <div class="col-12 col-md-6 col-lg-4"><a class="s-category" href="/">
                    <div class="s-category__cover"><img src="img/souvenirs.png" alt="/" /></div><span class="s-category__desc">Сувениры</span>
                  </a></div>
                <div class="col-12 col-md-6 col-lg-4"><a class="s-category" href="/">
                    <div class="s-category__cover"><img src="img/print.png" alt="/" /></div><span class="s-category__desc">Печатная продукция</span>
                  </a></div>
                <div class="col-12 col-md-6 col-lg-4"><a class="s-category" href="/">
                    <div class="s-category__cover"><img src="img/way.png" alt="/" /></div><span class="s-category__desc">Товары в дорогу</span>
                  </a></div>
                <div class="col-12 col-md-6 col-lg-4"><a class="s-category" href="/">
                    <div class="s-category__cover"><img src="img/fast.png" alt="/" /></div><span class="s-category__desc">Быстрое питание</span>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="s-section">
        <div class="container">
          <h2 class="s-section-title"><span class="s-section-title__text">Рекомендуем</span></h2>
          <div class="swiper-container s-slider s-slider--nav s-slider--products">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/pepsi-light.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Pepsi Light</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Pepsi Light</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/mirinda.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Mirinda</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Mirinda</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/seven-up.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">7up</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">7up</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/pepsi.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Pepsi</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Pepsi</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/pepsi-light.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Чай Greenffield Черный Rich Ceylon</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Чай Greenffield Черный Rich Ceylon</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/mirinda.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Mirinda</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Mirinda</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="s-slider__nav">
              <div class="s-slider__button s-slider__button--prev"></div>
              <div class="s-slider__button s-slider__button--next"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="s-section">
        <div class="container">
          <h2 class="s-section-title"><span class="s-section-title__text">Новинки</span></h2>
          <div class="swiper-container s-slider s-slider--nav s-slider--products">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/pepsi-light.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Pepsi Light</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Pepsi Light</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/mirinda.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Mirinda</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Mirinda</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/seven-up.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">7up</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">7up</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/pepsi.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Pepsi</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Pepsi</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/pepsi-light.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Чай Greenffield Черный Rich Ceylon</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Чай Greenffield Черный Rich Ceylon</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="s-product-card">
                  <div class="s-product-card__main">
                    <div class="s-product-card__cover"><img src="img/mirinda.jpg" alt="/" /></div>
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Mirinda</h3><span class="s-product-card__price">100 ₽</span>
                    </div>
                  </div>
                  <div class="s-product-card__additional">
                    <div class="s-product-card__info">
                      <h3 class="s-product-card__title">Mirinda</h3><span class="s-product-card__price">100 ₽</span>
                    </div><span class="s-product-card__data"></span><a class="s-btn" href="product-card.html">Заказать</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="s-slider__nav">
              <div class="s-slider__button s-slider__button--prev"></div>
              <div class="s-slider__button s-slider__button--next"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="s-page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="s-page-footer__inner">
          <section class="s-page-footer__block s-page-footer__block--contacts">
            <h3 class="s-page-footer__block-title">Контакты</h3>
            <ul class="s-page-footer__list">
              <li><a href="tel:+74991104923">+7 (499) 110-49-23</a></li>
              <li><a href="mailto:info@ntsfpc.ru">info@ntsfpc.ru</a></li>
              <li><address>107140, Москва, улица Площадь Комсомольская, дом 4а, сооружение 1</address>
              </li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Услуги</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Питание организованных групп</a></li>
              <li><a href="/">Питание в поездах</a></li>
              <li><a href="/">Питание в вагонах ресторанах</a></li>
              <li><a href="/">Напитки и закуски в поездах</a></li>
              <li><a href="/">Логичтика продовольственных товаров</a></li>
            </ul>
          </section>
          <section class="s-page-footer__block">
            <h3 class="s-page-footer__block-title">Питание организованных групп</h3>
            <ul class="s-page-footer__list">
              <li><a href="/">Туристические группы</a></li>
              <li><a href="/">Детские группы</a></li>
              <li><a href="/">Иностранные группы</a></li>
              <li><a href="/">Бизнес и VIP питание</a></li>
              <li><a href="/">Индивидуальное питание</a></li>
            </ul>
          </section>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="js/script.min.js"></script>
</body>

</html>

src/shop.pug
extends pug/layout.pug

block meta
  - var title = 'Shop';
  title= title
  meta(name='description', content='')

block content
  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('Магазин')

  .s-section.s-section--first
    .container
      .row
        .col-12.col-md-3
          +side-nav('Магазин')
            +side-nav-item('Покупателю')
            +side-nav-item('Поставщику')
            +side-nav-item('Доставка и оплата')
        .col-12.col-md-9
          .row
            .col-12.col-md-6.col-lg-4
              +category('img/snacks.png', 'Снеки')
            .col-12.col-md-6.col-lg-4
              +category('img/drinks.png', 'Напитки')
            .col-12.col-md-6.col-lg-4
              +category('img/sweets.png', 'Кондитерская продукция')
            .col-12.col-md-6.col-lg-4
              +category('img/souvenirs.png', 'Сувениры')
            .col-12.col-md-6.col-lg-4
              +category('img/print.png', 'Печатная продукция')
            .col-12.col-md-6.col-lg-4
              +category('img/way.png', 'Товары в дорогу')
            .col-12.col-md-6.col-lg-4
              +category('img/fast.png', 'Быстрое питание')

  section.s-section
    .container
      +section-title('Рекомендуем')
      .swiper-container.s-slider.s-slider--nav.s-slider--products
        .swiper-wrapper
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Pepsi Light')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
          .swiper-slide
            +product-card('img/seven-up.jpg', '7up')
          .swiper-slide
            +product-card('img/pepsi.jpg', 'Pepsi')
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Чай Greenffield Черный Rich Ceylon')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

  section.s-section
    .container
      +section-title('Новинки')
      .swiper-container.s-slider.s-slider--nav.s-slider--products
        .swiper-wrapper
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Pepsi Light')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
          .swiper-slide
            +product-card('img/seven-up.jpg', '7up')
          .swiper-slide
            +product-card('img/pepsi.jpg', 'Pepsi')
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Чай Greenffield Черный Rich Ceylon')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next
